<div class="modal-content" padding>
  <h3>{{title}}</h3>

  <ion-item>
    <ion-input type="text"
               [(ngModel)]="question.title"
               placeholder="{{'Zusammenfassung: Wo lade ich das Auto in Luzern?'}}"
               maxlength="40"
               #focus>
    </ion-input>
  </ion-item>

  <ion-label color="danger" *ngIf="existsError('title')">{{getError('title')}}</ion-label>

  <ion-item>
    <ion-textarea [(ngModel)]="question.question"
                  rows="6"
                  placeholder="{{'Beschreibung: Ich bin gerade in Luzern angekommen. Wo kann ich nun in der Nähe des Schwanenplatzes laden?'}}">
    </ion-textarea>
  </ion-item>

  <ion-label color="danger" *ngIf="existsError('question')">{{getError('question')}}</ion-label>

  <ion-row justify-content-end>
    <div>
      <ion-button fill="clear" (click)="close()">{{'Abbrechen'}}</ion-button>
      <ion-button fill="clear" (click)="save()" [disabled]="isSaving" requires-connection>{{'Speichern'}}</ion-button>
    </div>
  </ion-row>
</div>
