<ion-content padding>
    <div margin-top="4rem">
        <offline-img src="assets/logo.jpg" useImg></offline-img>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">

        <ion-item>
            <ion-label position="floating">{{'Benutzername'}}</ion-label>
            <ion-input type="email" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">{{'Passwort'}}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!form.valid && !isLoading">{{'Login'}}</ion-button>
        <ion-button class="ion-margin-top" color="light" expand="full" (click)="openRegistration()">{{'Keinen Account?'}}</ion-button>
    </form>
</ion-content>
