<div class="modal-content" padding>
    <h3>{{title}}</h3>
    <ion-item>
        <ion-input type="text"
                   [(ngModel)]="summary"
                   placeholder="Summary: e.g. Where to charge in lucerne"
                   maxlength="40"
                   #focus>
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-textarea [(ngModel)]="description"
                      rows="6"
                      placeholder="Description: e.g. I just arrived at lucerne Bellevue and there are no chargers. Where do i charge my car overnight?">
        </ion-textarea>
    </ion-item>
    <ion-label color="danger" *ngIf="error">{{error}}</ion-label>
    <ion-row justify-content-end>
        <div>
            <ion-button fill="clear" (click)="close()">Cancel</ion-button>
            <ion-button fill="clear" (click)="save()" [disabled]="isSaving">Save</ion-button>
        </div>
    </ion-row>
</div>
