<div class="modal-content" padding>
    <h3>{{title}}</h3>
    <ion-item>
        <ion-input type="text" [(ngModel)]="value" #focus></ion-input>
    </ion-item>
    <ion-label color="danger">
        {{'Wenn Du Deinen Benutzernamen änderst musst du dich wieder anmelden'}}
    </ion-label>
    <ion-row justify-content-end margin-top="1vh">
        <div>
            <ion-button fill="clear" (click)="close()">{{'Abbrechen'}}</ion-button>
            <ion-button fill="clear" (click)="save()" [disabled]="isSaving" requires-connection>
                {{'Speichern'}}
            </ion-button>
        </div>
    </ion-row>
</div>
