<div class="modal-content" padding>
    <h3>{{title}}</h3>
    <ion-item>
        <ion-input type="text" [(ngModel)]="email.email" #focus></ion-input>
    </ion-item>
    <ion-label color="warning" *ngIf="isEmailEqualToUsername">
        {{'Deine Email entspricht Deinem Benutzernamen, welcher für das Login gebraucht wird. Wenn du diese nun änderst, musst du dich erneut anmelden!'}}
    </ion-label>
    <ion-label color="danger" *ngIf="error">{{error}}</ion-label>
    <ion-row justify-content-end margin-top="1vh">
        <p style="margin-top:.6rem">{{'Öffentlich'}}</p>
        <ion-toggle [(ngModel)]="email.is_public"></ion-toggle>
    </ion-row>
    <ion-row justify-content-end>
        <div>
            <ion-button fill="clear" (click)="close()">{{'Abbrechen'}}</ion-button>
            <ion-button fill="clear" (click)="save()" [disabled]="isSaving" requires-connection>{{'Speichern'}}</ion-button>
        </div>
    </ion-row>
</div>
