<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
        <ion-refresher-content pullingText="{{'Pull to reload'}}" refreshingSpinner="null"></ion-refresher-content>
    </ion-refresher>

    <ion-row margin-bottom="1rem">
        <ion-segment (ionChange)="loadStream($event.detail.value)" [(ngModel)]="streamType">
            <ion-segment-button value="personal" checked>
                <ion-label>{{ 'Personal' }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="all">
                <ion-label>{{ 'All' }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="isLoading === true">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="errormessage">
        <p>{{errormessage}}</p>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="errormessage">
        <ion-button color="primary" *ngIf="!auth.data.team_id" (click)="openTeamChooser()">
            {{ this.joinTeamMessage }}
        </ion-button>
    </ion-row>

    <div *ngIf="events !== null">
        <div *ngFor="let day of objectKeys(events)">
            <h4>
                {{moment(day, "YYYYMMDD").format('Do MMMM YYYY')}}<br></h4>
            <ion-list>
                <!--<ion-item-sliding *ngFor="let event of events[day]">-->
                <ion-item *ngFor="let event of events[day]" [routerLink]="['/', 'event', event.id]"
                          routerDirection="forward">
                    <ion-label>
                        <h2>{{event.name}}</h2>
                        <p>
                            <ion-icon name="time"></ion-icon>&nbsp;{{moment(getStart(event)).format('HH:mm')}}
                            - {{moment(getEnd(event)).format('HH:mm')}}
                        </p>
                    </ion-label>
                </ion-item>
                <!--<ion-item-options side="start">-->
                <!--<ion-item-option geo="{{event.lat}},{{event.lon}}">{{'Navigate'}}</ion-item-option>-->
                <!--</ion-item-options>-->
                <!--</ion-item-sliding>-->
            </ion-list>
        </div>
    </div>
</ion-content>
