<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>
            WAVETROPHY
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <super-tabs>
        <super-tabs-toolbar>
            <super-tab-button>
                <ion-label>Events</ion-label>
            </super-tab-button>
            <super-tab-button>
                <ion-label>Contacts</ion-label>
            </super-tab-button>
            <super-tab-button>
                <ion-label>FAQ</ion-label>
            </super-tab-button>
        </super-tabs-toolbar>
        <super-tabs-container>
            <super-tab>
                <ion-nav [root]="streamPage"></ion-nav>
            </super-tab>
            <super-tab>
                <ion-nav [root]="tab2Page"></ion-nav>
            </super-tab>
            <super-tab>
                <ion-nav [root]="tab3Page"></ion-nav>
            </super-tab>
        </super-tabs-container>
    </super-tabs>

</ion-content>
