$profilePictureSize: 30;

ion-row.avatar-row {
  min-height: #{$profilePictureSize}vw;
  margin: 4vw auto 3vw;

  ion-avatar {
    width: #{$profilePictureSize}vw !important;
    max-width: #{$profilePictureSize}vw !important;
    height: #{$profilePictureSize}vw !important;
    max-height: #{$profilePictureSize}vw !important;
    background-position: 50% 50%;
    background-size: cover;

    position: absolute;
    display: inline;


    ion-img {
      object-fit: cover;
    }
  }
}

.inline {
  display: inline-block;
}

.verified {
  position: fixed;
  font-size: 1.3rem;
  margin-right: .3rem;
}
