<div class="modal-content" padding>
    <h3>{{title}}</h3>
    <ion-row>
        <ion-item>
            <ion-input #focus type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-row>
    <ion-label color="danger" *ngIf="error">{{error}}</ion-label>
    <ion-row justify-content-end>
        <div>
            <ion-button fill="clear" (click)="close()">{{'Abbrechen'}}</ion-button>
            <ion-button fill="clear" (click)="save()" [disabled]="isSaving" requires-connection>{{'Speichern'}}</ion-button>
        </div>
    </ion-row>
</div>
