// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


$ion-color-primary: #3880ff;
$ion-color-primary-rgb: 56, 128, 255;
$ion-color-primary-contrast: #ffffff;
$ion-color-primary-contrast-rgb: 255, 255, 255;
$ion-color-primary-shade: #3171e0;
$ion-color-primary-tint: #4c8dff;

/** secondary **/
$ion-color-secondary: #0cd1e8;
$ion-color-secondary-rgb: 12, 209, 232;
$ion-color-secondary-contrast: #ffffff;
$ion-color-secondary-contrast-rgb: 255, 255, 255;
$ion-color-secondary-shade: #0bb8cc;
$ion-color-secondary-tint: #24d6ea;

/** tertiary **/
$ion-color-tertiary: #7044ff;
$ion-color-tertiary-rgb: 112, 68, 255;
$ion-color-tertiary-contrast: #ffffff;
$ion-color-tertiary-contrast-rgb: 255, 255, 255;
$ion-color-tertiary-shade: #633ce0;
$ion-color-tertiary-tint: #7e57ff;

/** success **/
$ion-color-success: #10dc60;
$ion-color-success-rgb: 16, 220, 96;
$ion-color-success-contrast: #ffffff;
$ion-color-success-contrast-rgb: 255, 255, 255;
$ion-color-success-shade: #0ec254;
$ion-color-success-tint: #28e070;

/** warning **/
$ion-color-warning: #ffce00;
$ion-color-warning-rgb: 255, 206, 0;
$ion-color-warning-contrast: #ffffff;
$ion-color-warning-contrast-rgb: 255, 255, 255;
$ion-color-warning-shade: #e0b500;
$ion-color-warning-tint: #ffd31a;

/** danger **/
$ion-color-danger: #f04141;
$ion-color-danger-rgb: 245, 61, 61;
$ion-color-danger-contrast: #ffffff;
$ion-color-danger-contrast-rgb: 255, 255, 255;
$ion-color-danger-shade: #d33939;
$ion-color-danger-tint: #f25454;

/** dark **/
$ion-color-dark: #222428;
$ion-color-dark-rgb: 34, 34, 34;
$ion-color-dark-contrast: #ffffff;
$ion-color-dark-contrast-rgb: 255, 255, 255;
$ion-color-dark-shade: #1e2023;
$ion-color-dark-tint: #383a3e;

/** medium **/
$ion-color-medium: #989aa2;
$ion-color-medium-rgb: 152, 154, 162;
$ion-color-medium-contrast: #ffffff;
$ion-color-medium-contrast-rgb: 255, 255, 255;
$ion-color-medium-shade: #86888f;
$ion-color-medium-tint: #a2a4ab;

/** light **/
$ion-color-light: #f4f5f8;
$ion-color-light-rgb: 244, 244, 244;
$ion-color-light-contrast: #000000;
$ion-color-light-contrast-rgb: 0, 0, 0;
$ion-color-light-shade: #d7d8da;
$ion-color-light-tint: #f5f6f9;

$white: white;
$black: black;
$primary: $ion-color-primary;
$secondary: $ion-color-secondary;
$dark: $ion-color-dark;
$danger: $ion-color-danger;
$success: $ion-color-success;

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #{$ion-color-primary};
  --ion-color-primary-rgb: #{$ion-color-primary-rgb};
  --ion-color-primary-contrast: #{$ion-color-primary-contrast};
  --ion-color-primary-contrast-rgb: #{$ion-color-primary-contrast-rgb};
  --ion-color-primary-shade: #{$ion-color-primary-shade};
  --ion-color-primary-tint: #{$ion-color-primary-tint};

  /** secondary **/
  --ion-color-secondary: #{$ion-color-secondary};
  --ion-color-secondary-rgb: #{$ion-color-secondary-rgb};
  --ion-color-secondary-contrast: #{$ion-color-secondary-contrast};
  --ion-color-secondary-contrast-rgb: #{$ion-color-secondary-contrast};
  --ion-color-secondary-shade: #{$ion-color-secondary-shade};
  --ion-color-secondary-tint: #{$ion-color-secondary-tint};

  /** tertiary **/
  --ion-color-tertiary: #{$ion-color-tertiary};
  --ion-color-tertiary-rgb: #{$ion-color-tertiary-rgb};
  --ion-color-tertiary-contrast: #{$ion-color-tertiary-contrast};
  --ion-color-tertiary-contrast-rgb: #{$ion-color-tertiary-contrast-rgb};
  --ion-color-tertiary-shade: #{$ion-color-tertiary-shade};
  --ion-color-tertiary-tint: #{$ion-color-tertiary-tint};

  /** success **/
  --ion-color-success: #{$ion-color-success};
  --ion-color-success-rgb: #{$ion-color-success-rgb};
  --ion-color-success-contrast: #{$ion-color-success-contrast};
  --ion-color-success-contrast-rgb: #{$ion-color-success-contrast-rgb};
  --ion-color-success-shade: #{$ion-color-success-shade};
  --ion-color-success-tint: #{$ion-color-success-tint};

  /** warning **/
  --ion-color-warning: #{$ion-color-warning};
  --ion-color-warning-rgb: #{$ion-color-warning-rgb};
  --ion-color-warning-contrast: #{$ion-color-warning-contrast};
  --ion-color-warning-contrast-rgb: #{$ion-color-warning-contrast-rgb};
  --ion-color-warning-shade: #{$ion-color-warning-shade};
  --ion-color-warning-tint: #{$ion-color-warning-tint};

  /** danger **/
  --ion-color-danger: #{$ion-color-danger};
  --ion-color-danger-rgb: #{$ion-color-danger-rgb};
  --ion-color-danger-contrast: #{$ion-color-danger-contrast};
  --ion-color-danger-contrast-rgb: #{$ion-color-danger-contrast-rgb};
  --ion-color-danger-shade: #{$ion-color-danger-shade};
  --ion-color-danger-tint: #{$ion-color-danger-tint};

  /** dark **/
  --ion-color-dark: #{$ion-color-dark};
  --ion-color-dark-rgb: #{$ion-color-dark-rgb};
  --ion-color-dark-contrast: #{$ion-color-dark-contrast};
  --ion-color-dark-contrast-rgb: #{$ion-color-dark-contrast-rgb};
  --ion-color-dark-shade: #{$ion-color-dark-shade};
  --ion-color-dark-tint: #{$ion-color-dark-tint};

  /** medium **/
  --ion-color-medium: #{$ion-color-medium};
  --ion-color-medium-rgb: #{$ion-color-medium-rgb};
  --ion-color-medium-contrast: #{$ion-color-medium-contrast};
  --ion-color-medium-contrast-rgb: #{$ion-color-medium-contrast-rgb};
  --ion-color-medium-shade: #{$ion-color-medium-shade};
  --ion-color-medium-tint: #{$ion-color-medium-tint};

  /** light **/
  --ion-color-light: #{$ion-color-light};
  --ion-color-light-rgb: #{$ion-color-light-rgb};
  --ion-color-light-contrast: #{$ion-color-light-contrast};
  --ion-color-light-contrast-rgb: #{$ion-color-light-contrast-rgb};
  --ion-color-light-shade: #{$ion-color-light-shade};
  --ion-color-light-tint: #{$ion-color-light-tint};
}
