<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>{{'Event'}}</ion-title>

        <ion-buttons slot="end" *ngIf="event">
            <ion-button fill="clear" geo="{{event.lat}},{{event.lon}}">{{'Starten'}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
        <ion-refresher-content pullingText="{{'Neu laden'}}"[refreshingSpinner]="null"></ion-refresher-content>
    </ion-refresher>

    <offline-img src="{{server}}/media/thumbnails/events/{{event.thumbnail}}"
                 *ngIf="event && event.thumbnail"></offline-img>

    <offline-img src="{{server}}/default/logo.jpg"
                 margin-top="1rem"
                 *ngIf="event && empty(event.thumbnail)"></offline-img>

    <ion-row class="ion-justify-content-center" *ngIf="isLoading" padding>
        <ion-spinner name="crescent"></ion-spinner>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="errormessage" padding>
        <p>{{errormessage}}</p>
    </ion-row>

    <div *ngIf="event" padding-horizontal>
        <ion-row class="ion-justify-content-center">
            <h1>{{event.name}}</h1>
        </ion-row>

        <ion-row padding-start>
            <p>
                <ion-icon name="time"></ion-icon>&nbsp;{{moment(event.personal_participation.arrival).format('HH:mm')}}
                - {{moment(event.personal_participation.departure).format('HH:mm')}}
            </p>
        </ion-row>

        <div *ngIf="!empty(event.activities)">
            <ion-row>
                <h4>{{'Aktivitäten'}}</h4>
            </ion-row>

            <ion-row>
                <ion-list style="width: 100%;">
                    <ion-item *ngFor="let activity of event.activities">
                        <ion-label>
                            <h5>{{activity.title}}</h5>

                            <p>
                                <ion-icon name="time"></ion-icon>&nbsp;{{moment(activity.start).format('HH:mm')}}
                                - {{moment(activity.end).format('HH:mm')}}
                            </p>

                            <p *ngIf="activity.description">{{activity.description}}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-row>
        </div>
    </div>
</ion-content>
