<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'Profil'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
        <ion-refresher-content pullingText="{{'Neuladen'}}"[refreshingSpinner]="null"></ion-refresher-content>
    </ion-refresher>

    <ion-row class="ion-justify-content-center avatar-row" text-center>
        <ion-avatar>
            <ion-img src="{{server}}/{{profilePicture.url}}" class="profile-picture">
            </ion-img>
        </ion-avatar>
        <!--Disabled for now-->
        <!--<ion-fab-button color="primary" (click)="changeProfileImage()" requires-connection>-->
        <!--    <ion-icon name="camera"></ion-icon>-->
        <!--</ion-fab-button>-->
    </ion-row>

    <div>
        <ion-row class="heading-row ion-justify-content-between">
            <ion-text color="primary">
                <p>{{'Benutzername'}}</p>
            </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-between info-row">
            <p>{{username}}</p>
            <ion-fab-button translucent="true" size="small" (click)="editUsername()" requires-connection>
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
        </ion-row>
    </div>
    <ion-text color="dark">
        <p class="info-text">{{'Dies ist der Benutzername welcher allen Benutzern angezeigt wird'}}</p>
    </ion-text>
    <ion-row class="heading-row ion-justify-content-between">
        <ion-text color="primary">
            <p>{{'Passwort'}}</p>
        </ion-text>
        <ion-fab-button translucent="true" size="small" (click)="changePassword()" requires-connection>
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </ion-row>
    <ion-text color="dark">
        <p class="info-text">{{'Hier kannst du Dein Passwort ändern'}}</p>
    </ion-text>
    <ion-row class="heading-row ion-justify-content-between">
        <ion-text color="primary">
            <p>{{'Emails'}}</p>
        </ion-text>
        <ion-fab-button translucent="true" size="small" (click)="addEmail()" requires-connection>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

    </ion-row>
    <div *ngIf="emails">
        <ion-row class="info-row" no-padding *ngFor="let email of emails">
            <ion-item-sliding>
                <ion-item>
                    <ion-row class="ion-justify-content-between">
                        <p>{{email.email}}</p>
                        <ion-fab-button translucent="true" size="small" (click)="editEmail(email)" requires-connection>
                            <ion-icon name="create"></ion-icon>
                        </ion-fab-button>
                    </ion-row>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" [disabled]="email.is_primary === true" (click)="removeEmail(email)"
                                     requires-connection>
                        {{'Entfernen'}}
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-row>
    </div>
    <ion-row class="info-row padding-bottom ion-justify-content-center" *ngIf="!emails">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-row>
    <ion-text color="dark">
        <p class="info-text">
            {{'Dies sind Deine registrierten Emails. Diese Emails werden öffentlich allen WAVE Fahrern angezeigt, sofern Du dies mit dem "Öffentlich" Schalter aktiviert hast.'}}
        </p>
    </ion-text>
    <br>
    <ion-row class="heading-row ion-justify-content-between">
        <ion-text color="primary">
            <p>{{'Telefonnummern'}}</p>
        </ion-text>
        <ion-fab-button translucent="true" size="small" (click)="addPhonenumber()" requires-connection>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-row>
    <div *ngIf="phonenumbers">
        <ion-row class="info-row" no-padding *ngFor="let phonenumber of phonenumbers">
            <ion-item-sliding>
                <ion-item>
                    <ion-row class="ion-justify-content-between">
                        <p>{{phonenumber.country_code}} {{phonenumber.phonenumber}}</p>
                        <ion-fab-button translucent="true"
                                        size="small"
                                        (click)="editPhonenumber(phonenumber)"
                                        requires-connection>
                            <ion-icon name="create"></ion-icon>
                        </ion-fab-button>
                    </ion-row>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="removePhonenumber(phonenumber)" requires-connection>
                        {{'Entfernen'}}
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-row>
    </div>
    <ion-row class="info-row padding-bottom ion-justify-content-center" *ngIf="!phonenumbers">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-row>
    <ion-text>
        <p class="info-text">
            {{'Dies sind Deine registrierten Telefonnummern. Diese Telefonnummern werden öffentlich allen WAVE Fahrern angezeigt, sofern Du dies mit dem "Öffentlich" Schalter aktiviert hast.'}}
        </p>
    </ion-text>

    <ion-row class="ion-justify-content-center">
        <p class="small">{{'Version'}} {{version}}</p>
    </ion-row>
</ion-content>
