@import "mixins";

@include ion-inline-fab-button();

ion-fab-button {
  margin-right: 0;

  &:last-of-type {
    margin-right: -.5rem;
  }
}

h2.title {
  margin-top: 0;
  margin-right: .75rem;
}

ion-icon {
  margin-top: .25rem;
}
