<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
        <ion-refresher-content pullingText="{{'Neu laden'}}" [refreshingSpinner]="null"></ion-refresher-content>
    </ion-refresher>

    <ion-row class="ion-justify-content-center" *ngIf="isLoading === true" margin-bottom="1rem">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="errormessage">
        <p>{{errormessage}}</p>
    </ion-row>

    <ion-list *ngIf="hotels !== null">
        <ion-item *ngFor="let day of objectKeys(hotels)"
                  [routerLink]="['/', 'hotel', hotels[day].id]"
                  routerDirection="forward">
            <ion-label>
                <h2>{{hotels[day].name}} ({{moment(day, "YYYYMMDD").format('ddd Do MMMM')}})</h2>
                <p>
                    <ion-icon
                            name="arrow-round-forward"></ion-icon>&nbsp;{{moment(hotels[day].check_in).format('HH:mm')}}
                    <br/><span *ngIf="hotels[day]['check_out']">
                    <ion-icon
                            name="arrow-round-back"></ion-icon>&nbsp;{{moment(hotels[day].check_out).format('HH:mm')}}</span>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
