<div class="modal-content" padding>
    <h3>{{title}}</h3>
    <ion-row>
        <ion-item class="country-code">
            <ion-input type="text" [(ngModel)]="countryCode" placeholder="+41" #focus></ion-input>
        </ion-item>
        <ion-item class="phonenumber">
            <ion-input type="tel" [(ngModel)]="phonenumber"></ion-input>
        </ion-item>
    </ion-row>
    <ion-label color="danger" *ngIf="error">{{error}}</ion-label>
    <ion-row justify-content-end margin-top="1vh">
        <p style="margin-top:.6rem">{{'Öffentlich'}}</p>
        <ion-toggle [(ngModel)]="isPublic"></ion-toggle>
    </ion-row>
    <ion-row justify-content-end>
        <div>
            <ion-button fill="clear" (click)="close()">{{'Abbrechen'}}</ion-button>
            <ion-button fill="clear" (click)="save()" [disabled]="isSaving" requires-connection>{{'Speichern'}}</ion-button>
        </div>
    </ion-row>
</div>
