// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.modal-auto-height {

  .modal-wrapper {
    display: flex;
    min-height: 20vh;
    height: auto;
  }
  .ion-page {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
}
