<ion-content padding>
    <ion-row class="ion-justify-content-center" *ngIf="isLoading">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="errormessage">
        <p>{{errormessage}}</p>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="questionGroups.length <=0 && !isLoading">
        <ion-button color="primary" (click)="askQuestion()">Ask a question</ion-button>
    </ion-row>

    <ion-list *ngFor="let date of ObjectKeys(questionGroups)">
        <ion-list-header>
            <ion-label>{{moment(date, 'YYYY-MM-DD').format("Do MMMM YYYY").toString()}}</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let question of questionGroups[date]"
                  [routerLink]="['/', 'question', question.id]"
                  routerDirection="forward"
                  class="ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-avatar slot="end">
                <ion-img src="{{server}}/{{question.user.profile_picture.url}}"
                         alt="{{server}}/default/profile-picture.svg">
                </ion-img>
            </ion-avatar>
            <ion-label>
                <h2>
                    {{question.title}}
                    <ion-icon name="checkmark-circle"
                              class="inline verified fixed"
                              color="success"
                              *ngIf="question.resolved">
                    </ion-icon>
                </h2>
                <h3>Answers: {{question.answers.length}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="askQuestion()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
